
<section>
    <div mat-dialog-content><h3>{{data.message}}</h3></div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Aceptar</button>
    </div>
</section>

<!-- <section *ngIf="data.message.length === 0">
    <div mat-dialog-content>
        <h3>Ingresa a que menu quieres agregar este plato: </h3>
        <mat-label>Numero</mat-label>
        <input matInput [(ngModel)]="data.number">
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="data.number" cdkFocusInitial>Aceptar</button>
    </div>
</section> -->
