<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{plato.title}}</mat-card-title>
    </mat-card-header>
    <img loading="lazy" mat-card-image src={{plato.image}} alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button (click)="agregar()" *ngIf="agregar_eliminar === 'agregar'">Agregar al menu</button>
      <button mat-button (click)="eliminar()" *ngIf="agregar_eliminar === 'eliminar'">Eliminar del menu</button>
      <button mat-button (click)="details()">ver Detalles</button>
    </mat-card-actions>
  </mat-card>
